---
import CodeView from "../components/CodeView.astro";
import ContentView from "../components/ContentView.astro";
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";

import data from "../openapi/shipengine.json";
import { groupByTags } from "../utils/tag.filter";
const tags = groupByTags(data);
---

<Layout title="Gate - Static API documentation">
  <Navigation data={data} tags={tags} />
  <main class="ml-72 p-2 block min-h-full">
    <ContentView data={data} tags={tags} />
  </main>
</Layout>
