---
import CodeView from "../components/CodeView.astro";
import ContentView from "../components/ContentView.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gate - Static API documentation">
  <main class="ml-52 p-2 block min-h-full">
    <ContentView />
  </main>
</Layout>
