---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gate - Static API documentation">
  <main>
    <h1>Gate</h1>
    <p class="instructions">
      Static API documentation for <code>astro</code> projects.
    </p>
  </main>
</Layout>
