---
const {
  data,
  data: { info },
} = Astro.props;
---

<div>
  <div class="">
    {
      Object.keys(data.paths).map((pathKey) => {
        const path = data.paths[pathKey];
        return (
          <div>
            <div class="flex flex-col">
              {Object.keys(path).map((key) => {
                const operation = path[key];
                return (
                  <div>
                    <div class="font-bold text-xl">
                      {operation.summary || operation.operationId}
                    </div>
                    <div class="m-4">
                      <span class="badge badge-lg">
                        {key.toLocaleUpperCase()}
                      </span>
                      <span>{data.basePath + pathKey}</span>
                      <div class="my-4">{operation.description}</div>
                    </div>
                    <div class="" />
                  </div>
                );
              })}
            </div>
          </div>
        );
      })
    }
  </div>
</div>
