---
import { groupByTags } from "../utils/tag.filter";
const {
  data,
  tags,
  data: { info },
} = Astro.props;
---

<div class="w-72 p-2 top-0 bottom-0 fixed overflow-auto">
  <a href="#" class="font-bold">{info.title}</a>
  <ul>
    {
      tags.map((tag) => {
        return (
          <div class="p-2">
            <div class="font-bold py-2 break-all">{tag.name.toUpperCase()}</div>
            {tag.operations.map((operation) => (
              <a
                class="pl-2 font-normal block"
                href={`#${operation.operationId}`}
              >
                {operation.summary || operation.operationId || operation.method}
              </a>
            ))}
          </div>
        );
      })
    }
  </ul>
</div>
