---
const {
  data,
  tags,
  data: { info },
} = Astro.props;
---

<div class="w-72 p-2 border-r dark:border-gray-700">
  <div class="sidebar h-screen overflow-y-auto">
    <ul>
      {
        tags.map((tag) => {
          return (
            <div class="p-2">
              <div class="font-bold py-2 break-all">
                {tag.name.toUpperCase()}
              </div>
              {tag.operations.map((operation) => (
                <a
                  class="pl-2 py-1 font-normal block hover:text-secondary-focus"
                  href={`#${operation.operationId}`}
                >
                  {operation.summary ||
                    operation.operationId ||
                    operation.method}
                </a>
              ))}
            </div>
          );
        })
      }
    </ul>
  </div>
</div>
