---
import { getRef } from "../utils/tag.filter";
import { marked } from "marked";
import Param from "./Param.astro";

const { data, operation } = Astro.props;
const body = getRef(
  data,
  operation.responses?.[200].content?.["application/json"]?.schema?.$ref
);
---

<div>
  <h2 class="font-bold py-4 p-">Body</h2>
  <code>
    <div>{body.description}</div>
    <div>
      {
        body.properties &&
          Object.entries(body.properties).map(([key, value]) => {
            return <Param data={data} key={key} param={value} />;
          })
      }
    </div>
  </code>
</div>
