---
import { getRef } from "../utils/tag.filter";

const { data, operation } = Astro.props;
const body = getRef(
  data,
  operation.responses?.[200].content?.["application/json"]?.schema?.$ref
);
---

<div>
  <h2 class="font-bold py-4">Body</h2>
  <code>
    <div>{body.description}</div>
    <div>
      {
        body.properties &&
          Object.entries(body.properties).map(([key, value]) => {
            // console.log(value);
            return (
              <div>
                <span class="font-bold">{key}</span>
                <span>{value.type}</span>
                {value.items &&
                  value.items.$ref &&
                  getRef(data, value.items.$ref).title}
              </div>
            );
          })
      }
    </div>
  </code>
</div>
